{{- $context := .Context -}}
{{- $limit := default 5 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "terminal" }}
    </div>
    <h2 class="widget-title section-title">TERM</h2>

    <div class="tagCloud-tags">
        {{ range first $limit $context.Site.Taxonomies.term.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
        {{ end }}
    </div>
</section>