{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "terminal" }}
    </div>
    <h2 class="widget-title section-title">TERM</h2>

    <div class="tagCloud-tags">
        {{ with $context.Site.Taxonomies.term.ByCount }}
            {{ range first $limit . }}
                <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                    {{ .Page.Title }}
                </a>
            {{ end }}
        {{ end }}
    </div>
</section>