{{ define "main" }}

<div class="not-found-card">
    <h1 class="error-emoji article-title"></h1>
    <h2 class="article-subtitle">This page does not exist. Try to do a <a href="/search/">search</a>.</h2>
  </div>
  <script>
    if(document.location.href.indexOf('mdf') > -1) { 
        // indexOf will return the position of the first occurence of this string in the url
        // or -1 it it's not there.
        document.location.href = 'https://mdf.sibeliusp.com';
    }

    if(document.location.href.indexOf('pdf') > -1) { 
        // indexOf will return the position of the first occurence of this string in the url
        // or -1 it it's not there.
        document.location.href = 'https://pdf.sibeliusp.com';
    }

    const errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
    const emojiArray = [
      '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
      '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/', "⸂⸂⸜(രᴗര๑)⸝⸃⸃", "٩(⌯꒦ິ̆ᵔ꒦ິ)۶ᵒᵐᵍᵎᵎᵎ", "( ؕؔʘ̥̥̥̥ ه ؔؕʘ̥̥̥̥ )?", "( ˇ෴ˇ )", "༼ ༎ຶ ෴ ༎ຶ༽", "‧⁺◟( ᵒ̴̶̷̥́ ·̫ ᵒ̴̶̷̣̥̀ )", "꒰⌗´͈ ᵕ ॣ`͈⌗꒱৩"
    ];
    const errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
    errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
  </script>
  
    {{ partialCached "footer/footer" . }}
{{ end }}